<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="usuario">
      <h2 data-cy="usuarioDetailsHeading"><span>Usuario</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ usuario.id }}</span>
        </dd>
        <dt><span>Nombre</span></dt>
        <dd>
          <span>{{ usuario.nombre }}</span>
        </dd>
        <dt><span>Apellido 1</span></dt>
        <dd>
          <span>{{ usuario.apellido1 }}</span>
        </dd>
        <dt><span>Apellido 2</span></dt>
        <dd>
          <span>{{ usuario.apellido2 }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ usuario.email }}</span>
        </dd>
        <dt><span>Password</span></dt>
        <dd>
          <span>{{ usuario.password }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/usuario', usuario.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
