<div>
  <h2 id="page-heading" data-cy="ProductoHeading">
    <span>Productos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-producto"
        [routerLink]="['/producto/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Producto </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="productos?.length === 0">
    <span>No productos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="productos && productos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nombreProducto"><span>Nombre Producto</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ingredientes"><span>Ingredientes</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="calorias"><span>Calorias</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="imagen"><span>Imagen</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="precio"><span>Precio</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="existencias"><span>Existencias</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tipoproducto.id"><span>Tipoproducto</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/producto', producto.id, 'view']">{{ producto.id }}</a>
          </td>
          <td>{{ producto.nombreProducto }}</td>
          <td>{{ producto.ingredientes }}</td>
          <td>{{ producto.calorias }}</td>
          <td>
            <a *ngIf="producto.imagen" (click)="openFile(producto.imagen, producto.imagenContentType)">open</a>
            <span *ngIf="producto.imagen">{{ producto.imagenContentType }}, {{ byteSize(producto.imagen) }}</span>
          </td>
          <td>{{ producto.precio }}</td>
          <td>{{ producto.existencias }}</td>
          <td>
            <div *ngIf="producto.tipoproducto">
              <a [routerLink]="['/tipo-producto', producto.tipoproducto?.id, 'view']">{{ producto.tipoproducto?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/producto', producto.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/producto', producto.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(producto)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="productos && productos.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
